language: python
sudo: required
python:
 - 3.5
 - 3.6

services:
 - mongodb
 - mysql
 - postgresql

before_script:
  - sudo psql -c "CREATE USER tester WITH PASSWORD '123456';" -U postgres
  - sudo psql -c 'create database pwman;' -U postgres
  - sudo psql -c 'grant ALL ON DATABASE pwman to tester' -U postgres
  - sudo mysql -e 'create database pwmantest' -uroot
  - sudo mysql -e "create user 'pwman'@'localhost' IDENTIFIED BY '123456'" -uroot
  - sudo mysql -e "grant all on pwmantest.* to 'pwman'@'localhost';" -uroot
  - mongo pwmantest --eval 'db.createUser({user:"tester",pwd:"12345678",roles:["readWrite"]});'

before_install:
  - sudo apt-get update -qq
  - sudo apt-get install python-psycopg2 python3-psycopg2
  - sudo apt-get install python-mysqldb

install:
  - "pip install pymongo==2.8"
  - "pip install pymysql"
  - "pip install -r requirements.txt -r test_requirements.txt"
  - "pip install coveralls"
  - "pip install ."

script:
  - python setup.py develop && coverage run -m tests.test_pwman

after_success:
  - coveralls
