language: python
python:
  - "2.7"
  
# command to install dependencies, e.g. pip install -r requirements.txt --use-mirrors
install: 
     - "pip install -r requirements.txt"
     - "pip install coveralls"
     - "pip install ."
# command to run tests, e.g. python setup.py test
script:  
    coverage run --source=pwman setup.py test
    
    #coverage run --omit="pwman/tests/*.py,pwman/ui/mac.py,pwman/ui/win.py,pwman/data/convertdb.py,pwman/data/nodes_multiple_approach.py,pwman/data/models.py,pwman/data/drivers/postgresql.py,pwman/data/drivers/mysql.py,pwman/exchange/importer.py,pwman/ui/base.py" --source=pwman setup.py test 


after_success:
      coveralls
