include ChangeLog
include documentation/*
include documentation/man_page/*
include pwman/ui/templates/*
include pwman/ui/templates/static/css/*
include pwman/ui/templates/static/js/*
include pwman/ui/templates/static/js/modernizr/*
include requirements.txt
