[[source]]

verify_ssl = true
url = "https://pypi.python.org/simple"
name = "pypi"


[dev-packages]

"psycopg2" = "*"
pymysql = "*"
pymongo = "==2.8"
pexpect = "*"
coverage = "*"
"unittest2" = "*"


[packages]

cryptography = ">=2.3"
colorama = ">=0.2.4"
