[[source]]
verify_ssl = true
url = "https://pypi.python.org/simple"
name = "pypi"

[dev-packages]
psycopg = "*"
pymysql = "*"
pymongo = ">=4.3"
pexpect = "*"
coverage = "*"

[packages]
cryptography = "==42.*"
colorama = "==0.4.6"
pymongo = "==4.6.*"
