<!  DOCTYPE html>
<html lang="en">
<head>
  <title>Fox! Password Manager</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="./static/css/main.css"> 
    
</head>
<body>

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      <a class="navbar-brand" href="#">Fox! Password Manager</a>
    </div>
    
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav navbar-right">
        <li>
            <form class="navbar-form navbar-right" role="button"> 
            <button type="button" class="btn btn-default" id="auth-btn">
                <span class="glyphicon glyphicon-log-in"></span> Authenticate
            </button>        
            </form>
        </li>
        <li>
            <form class="navbar-form navbar-right" role="button">
                    <div class="form-group" id="show" style="display: none;">
                        <input type="password" class="form-control" name="auth-pwd" placeholder="Password">
                    <button type="submit" class="btn btn-default" id="signin">Sign In</button>
                    </div>
            </form>
        </li>
      </ul>
    </div>
  </div>
</nav>
  
<div class="container">
  
  <div class="row">
  <div class="col-md-6 col-md-push-6">
  <div class="custom-collapse">
    
  <button class="btn collapse-toggle visible-xs" type="button" data-toggle="collapse" data-parent="custom-collapse" data-target="#tags">
      <span class="">Tags</span>
  </button> 
    <div class="collapse" id="tags">
      <ul class="nav nav-pills nav-stacked" id="side-menu-collapse">
        <li class="active"><a href="#">Tag1</a></li>
        <li><a href="#">Tag2</a></li>
        <li><a href="#">Tag2</a></li>
      </ul>
    </div>
  </div>
  
  </div>
  <div class="col-md-6 col-md-pull-6">
    <table class="table table-hover">
    <thead>
      <tr>
        <th>User</th>
        <th>URL</th>
        <th>Tags</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>John</td>
        <td>john@example.com</td>
        <td>tag1, tag2</td>
        <td>
        <a href="#">
          <span class="glyphicon glyphicon-eye-open"></span>
        </a>
        <a href="#">
          <span class="glyphicon glyphicon-eye-close" style="display: none;"></span>
        </a>
        <a href="#">
          <span class="glyphicon glyphicon-edit"></span>
        </a>
          <a href="#">
        <span class="glyphicon glyphicon-remove"></span>
        </a>
        </td>
      </tr>
      <tr>
        <td>Mary</td>
        <td>mary@example.com</td>
        <td>tag1, tag2</td>
        <td>
        <a href="#">
          <span class="glyphicon glyphicon-eye-open"></span>
        </a>
        <a href="#">
          <span class="glyphicon glyphicon-eye-close" style="display: none;"></span>
        </a>
        <a href="#">
          <span class="glyphicon glyphicon-edit"></span>
        </a>
          <a href="#">
        <span class="glyphicon glyphicon-remove"></span>
        </a>
        </td>
      </tr>
      <tr>
        <td>July</td>
        <td>july@example.com</td>
        <td>tag1, tag2</td>
        <td>
        <a href="#">
          <span class="glyphicon glyphicon-eye-open"></span>
        </a>
        <a href="#">
          <span class="glyphicon glyphicon-eye-close" style="display: none;"></span>
        </a>
        <a href="#">
          <span class="glyphicon glyphicon-edit"></span>
        </a>
          <a href="#">
        <span class="glyphicon glyphicon-remove"></span>
        </a>
        </td>
      </tr>
    </tbody>
  </table>
  
  
  </div>
  </div>
    <div class="clearfix visible-lg"></div>
  </div>
</div>
<script type="text/javascript">
$("#auth-btn").click(function () {
   $("#show").show('fast');
});

$("#auth-btn").click(function () {
   $("#auth-btn").hide(1000);
});
</script>
<script>

// Attach a submit handler to the form
$( "#signin" ).submit(function( event ) {
// Stop form from submitting normally
event.preventDefault();
// Get some values from elements on the page:
var $form = $( this ),
term = $form.find( "input[name='auth-pwd']" ).val(),
url = "/_auth";
// Send the data using post
var posting = $.post( url, { s: term } );

var posting = $.post( url, { s: term }, function( data ) {
    console.log( data ); 
}, "json");


// Put the results in a div
posting.done(function( data ) {
var content =  data ;
$( "#result" ).empty().append( content );
});
});

</script>
</body>
</html>

